.title-container,
.card-list,
.filter-container {
  display: flex;
}
.card-list {
  flex-direction: column;
  align-items: center;
}
.filter-container {
  justify-content: end;
}

.title-container {
  align-items: center;
  justify-content: space-between;
}
.filter-container,
.title-container {
  padding: 0 60px;
}
@media (max-width: 690px) {
  .title-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .title-container,
  .filter-container {
    padding: 0 10px;
  }
  .filter-container {
    justify-content: start;
  }
}
